@charset "utf-8";
/* CSS Document */

.container.dark .palyazatok_right_article p {
	color: yellow;
	transition: 1s;
}

.container.dark .palyazatok_right_article h3 {
	color: yellow;
	transition: 1s;
	text-shadow: none;

}

.container.dark section h1 {
	color: yellow;
	transition: 1s;
	text-shadow: none;

}

.container.dark .button{
	background: black;	
	border: 2px solid yellow;
}

.container.dark .tab button{
	background: black;	
	color: yellow;
	
}

.container.dark .tab button:hover{
	border: 2px solid yellow;
}

.container.dark .tab button.active {
	color: white;
	border: 2px solid yellow;
}


section h1{
	margin-top: 2%;
	margin-bottom: 2%;
	color: #178616;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	text-shadow: 2px 2px 5px #888888;
}

.palyazatok_right_article{
	margin-right: 6%;
	margin-top: 4%;
	width: 50%;
	height: 100%;
	float: left;
	padding-bottom: 150px;
}

.palyazatok_right_article h3 {
	text-align: center;
	line-height: 25px;
	color: #717070;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 5%;
}

.palyazatok_right_article a{
	text-decoration: none;
	color: #717070;
}

.palyazatok_right_article a:hover{
	color: green;
}

.palyazatok_left_article {
	width: 30%;
	margin-top: 4%;
	margin-left: 4%;
	margin-right: 8%;
	float: left;
}

.zoom {
    transition: transform .2s; /* Animation */
}

.zoom:hover {
    transform: scale(1.5);
}


* {
	box-sizing: border-box
}

/* magas kontraszt mód kezdete */

.togglegyl {
	position: absolute;
   	top: 50%;
   	left: 50%;
   	margin-top: 8px; /* Half the height */
	margin-left: 10px;
	background: rgb(80,80,80);
	border: 2px solid #fff;
	height: 34px;
	width: 69px;
	cursor: pointer;
	border-radius: 20px;
	transition: 0.5s;
}

.togglegyl.darkactive{
	background: #00151f;
	border: 2px solid #fff;
	
}

.togglegyl:before{
	content: '';
	position: absolute;
	top: 0px;
	left: 1px;
	width: 30px;
	height: 30px;
	background: url("../images/high_contrast.png") no-repeat; 
    background-size: contain;
	border-radius: 50%;
	transition: 0.5s;
}

.togglegyl.darkactive:before{
	left: 34px;
	background: url("../images/high_contrast.png") no-repeat; 
    background-size: contain;
}


/* Style the tab */
.tab {
	float: left;
	height: 300px;
	margin-left: 16%;
}

/* Style the buttons inside the tab */
.tab button {
	display: block;
	background-color: inherit;
	padding: 20px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.2s;
	font-size: 20px;
	color: #717070;
	border-radius: 35px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	color: green;
	border-radius: 35px;
	border:
}

/* Create an active/current "tab button" class */
.tab button.active {
	color: white;
	font: 500 25px;
	border-radius: 35px;
}

/* Style the tab content */
.tabcontent {
	float: left;
	padding: 0px 12px;
}

.tabcontent p{
	text-align: justify;
	line-height: 25px;
	color: #717070;
	font-size: 23px;
	margin-bottom: 3%;
}

.eu{
	width: 30%;
}

.button {
    background: linear-gradient(to top right, rgba(65,150,90,1) 0%, rgba(41,87,55,1) 50%, rgba(16,23,19,1) 100%);
	cursor:pointer;	
	color: white;
  	border: none;
	border-radius: 35px;
  	padding: 15px 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 18px;
	
}


.button:hover {
	background: darkgreen;
}

@media (min-width: 769px) and (max-width: 1366px) {
	section h1 {
		margin-top: 35px;
		font-size: 25px;
	}
	
	.tab button {
		font-size: 18px;
	}
	
	.tabcontent p{
		font-size: 20px;
		text-align: justify;
	}
	
	.palyazatok_right_article h3 {
		font-size: 20px;
	}
	.palyazatok_right_article {
		padding-bottom: 150px;
	}

}

@media (min-width: 651px) and (max-width: 768px) {
	section h1 {
		margin-top: 35px;
		font-size: 22px;
	}
	
	.tab button {
		font-size: 16px;
		padding: 16px 16px;
	}
	
	
	.tabcontent p{
		font-size: 18px;
		text-align: justify;
	}
	
	.palyazatok_right_article h3 {
		font-size: 20px;
	}
	
	.palyazatok_right_article {
		padding-bottom: 150px;
	}
	
	
	img{
		width: 200px;
	}
	
}

@media (max-width : 650px ){
	section h1 {
		font-size: 20px;
		margin-top: 35px;
	}
	
	.tab button {
		font-size: 15px;
		padding: 10px 10px;
	}
	
	.tabcontent p{
		font-size: 18px;
		text-align: justify;
	}
	
	.palyazatok_right_article{
		width: 100%;
		padding-bottom: 200px;
	}
	
	.palyazatok_left_article {
		width: 80%;
		margin-bottom: -10%;
		margin-left: 10%;
		margin-right: 10%;
		padding-left: 0%;
		padding-right: 0%;
	
	}
	
		
	.palyazatok_right_article h3 {
		font-size: 18px;
	}
	
	.tabcontent p{
		font-size: 14px;
		text-align: justify;
	}
	
	.tab{
		margin-left: 0%;
		width: 100%;
	}
	
	.tab button{
		text-align: center;
	}
	
	
	img{
		width: 90px;
	}
	
	a.button{
		font-size: 14px;
	}
	
}


